[client]
user = root
host = localhost
port = 3306
socket="/tmp/mysql-5D6E3F60-FF1D-4504-BFEC-B03CD7346657.sock"

[mysqld]
sql_mode=
default-time-zone='+00:00'
default-authentication-plugin=mysql_native_password
