;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; !! | mandatory command + control + option + shift (hyper)
;; ## | optional any

{
    :templates {
        :launch "open -a %s"
        :hs "open -g hammerspoon://%s"
    }
    :layers {
        :hyper-mode {:key :caps_lock :alone {:key :escape}}
    }
    :simlayers {
        :vi-mode {:key :d}
        :vi-visual-mode {:key :v}
        :comma-mode {:key :comma}
        :semicolon-mode {:key :semicolon}
        :quote-mode {:key :quote}
        :spacebar-mode {:key :spacebar}
        :z-mode {:key :z}
        :m-mode {:key :m}
        :google-mode {:key :g}
        :code-mode {:key :c}
        :app-mode {:key :l}
    }
    :simlayer-threshold 250
    :main [
        {
            :des "Use right command for sticky vi and vi visual modes"
            :rules [
                [:right_command [["sticky-vi-mode" 0] ["sticky-vi-visual-mode" 1]] ["right-command-pressed-once" 1]]
                [:right_command [:right_command ["right-command-pressed-once" 1] ["sticky-vi-mode" 1]] [["sticky-vi-mode" 0] ["sticky-vi-visual-mode" 0]] {:delayed {:invoked ["right-command-pressed-once" 0] :canceled ["right-command-pressed-once" 0]}}]
                :sticky-vi-mode
                [:right_command ["sticky-vi-mode" 0]]
                :sticky-vi-visual-mode
                [:right_command ["sticky-vi-visual-mode" 0]]
            ]
        }
        {
            :des "Misc"
            :rules [
                [:right_option {:mkey {:x 1536}}] ; Move Mouse
                [:fn {:pkey :button1}]
            ]
        }
        {
            :des "Manipulate Lines"
            :rules [
                [:!Cj [:hs "!Cj"]] ; Move line down / autocomplete on iTerm
                [:!Ck [:hs "!Ck"]] ; Move line up
                [:!Cm :!STOdown_arrow] ; Multiple cursors down
                [:!Ci :!STOup_arrow] ; Multiple cursors up
            ]
        }
        {
            :des "Hyper Mode"
            :rules [:hyper-mode
                [:hyphen :!!hyphen] ; Witch (All)
                [:y [:hs "hyperY"]]
                [:u [:hs "copyTextArea"]]
                [:i :!!i] ; Inbox
                [:o :!!o] ; Witch (Only apps with open windows)
                [:p :!Cv]
                [:open_bracket [:hs "openAnything"]]
                [:close_bracket [:hs "commandPalette"]] ; Command palette
                [:backslash :!Oescape] ; Escape Hyperswitch
                [:f :!Oescape] ; Escape Hyperswitch to avoid opening app in fullscreen
                [:h [:hs "hyperH"]] ; Navigate to previous page
                [:j :!SCopen_bracket] ; Move to previous tab
                [:k :!SCclose_bracket] ; Move to next tab
                [:l [:hs "hyperL"]] ; Navigate to next page
                [:semicolon ["osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to search \".\"'"]] ; Alfred Commands
                [:quote :!Otab] ; Hyperswitch (All Windows)
                [:return_or_enter :caps_lock]
                [:n :!Oz] ; Alfred
                [:m :!Oc] ; Alfred Clipboard
                [:comma [:hs "shortcat"]] ; Shortcat
                [:period :!STOperiod] ; Alfred Terminal
                [:slash :!Ttab] ; Hyperswitch (Current App)
                ; [:##slash :!!f]
                ; b, \
            ]
        }
        {
            :des "Hyper Mode - Mousekey"
            :rules [:hyper-mode
                [:down_arrow {:mkey {:y 1536}}]
                [:up_arrow {:mkey {:y -1536}}]
                [:left_arrow {:mkey {:x -1536}}]
                [:right_arrow {:mkey {:x 1536}}]
                ; [:return_or_enter {:pkey :button1}]
                [:!Creturn_or_enter {:pkey :button2}]
            ]
        }
        {
            :des   "Sticky vi mode"
            :rules [:sticky-vi-mode
                [:##j :down_arrow]
                [:##k :up_arrow]
                [:##h :left_arrow]
                [:##l :right_arrow]
                [:##b :!Oleft_arrow]
                [:##w :!Oright_arrow]
                [:##0 :!Cleft_arrow]
                [:##4 :!Cright_arrow]
                [:##a :!Cright_arrow]
                [:##i :!Cleft_arrow]
            ]
        }
        {
            :des   "vi mode [d as trigger key]"
            :rules [:vi-mode
                [:##j :down_arrow]
                [:##k :up_arrow]
                [:##h :left_arrow]
                [:##l :right_arrow]
                [:##b :!Oleft_arrow]
                [:##w :!Oright_arrow]
                [:##0 :!Cleft_arrow]
                [:##4 :!Cright_arrow]
                [:##a :!Cright_arrow]
                [:##i :!Cleft_arrow]
            ]
        }
        {
            :des   "Sticky Vi Visual Mode"
            :rules [:sticky-vi-visual-mode
                [:##j :!Sdown_arrow]
                [:##k :!Sup_arrow]
                [:##h :!Sleft_arrow]
                [:##l :!Sright_arrow]
                [:##b :!SOleft_arrow]
                [:##e :!SOright_arrow]
                [:##0 :!SCleft_arrow]
                [:##4 :!SCright_arrow]
                [:##open_bracket :!SOup_arrow]
                [:##close_bracket :!SOdown_arrow]
            ]
        }
        {
            :des   "Vi Visual Mode"
            :rules [:vi-visual-mode
                [:##j :!Sdown_arrow]
                [:##k :!Sup_arrow]
                [:##h :!Sleft_arrow]
                [:##l :!Sright_arrow]
                [:##b :!SOleft_arrow]
                [:##e :!SOright_arrow]
                [:##0 :!SCleft_arrow]
                [:##4 :!SCright_arrow]
                [:##open_bracket :!SOup_arrow]
                [:##close_bracket :!SOdown_arrow]
            ]
        }
        {
            :des "Launch apps in comma mode"
            :rules [:comma-mode
                [:t :!!t] ; iTerm
                [:r [:hs "app?id=atom"]]
                [:e [:hs "app?id=sublime"]]
                ; w
                ; q
                [:g [:hs "app?id=chrome"]]
                [:f [:launch "Notion.app"]]
                [:d [:launch "Discord.app"]]
                [:s [:launch "Spotify.app"]]
                [:a :!OCc] ; Fantastical
                [:b [:launch "Finder.app"]]
                [:b [:hs "app?id=finder"]]
                [:v [:launch "TablePlus.app"]]
                [:c [:launch "Sublime\\ Merge.app"]]
                [:x [:launch "Postman.app"]]
                [:z [:launch "Microsoft\\ Teams.app"]]
            ]
        }
        {
            :des "Launch commands in semicolon mode"
            :rules [:semicolon-mode
                [:t [:hs "newTab"]] ; New Tab
                [:r :!Cr] ; Reload
                ; e
                [:w [:hs "closeWindow"]]
                [:q :!Cq] ; Quit
                [:tab :!Stab] ; Shift Tab
                [:g :!!g] ; Google Search
                [:f :!Cf]
                [:d [:hs "done"]]
                [:s [:hs "save"]] ; Save
                [:a :!Ca] ; Select All
                [:caps_lock [:hs "dismissNotifications"]] ; Dismiss notifications
                [:b :!Cd] ; Save Bookmark (Chrome)
                [:v :!SCz] ; Redo
                [:c :!!k] ; Hide cursor
                [:x [:hs "cancelOrDelete"]] ; Control C
                [:z :!Cz] ; Undo
                [:m :!!z] ; Spotify
            ]
        }
        {
            :des "Launch commands in quote mode"
            :rules [:quote-mode
                [:w :!SCw] ; Close all windows
                [:e :!SCe] ; Edit with
                ; [:spacebar [:hs "quote-spacebar"]]
            ]
        }
        {
            :des "Spacebar mode"
            :rules [:spacebar-mode
                [:m :!!m] ; Moom
                [:d :!TOCd] ; Moom: Move to other display
                [:f :!TOCf] ; Moom: Fullscreen
                [:return_or_enter :!TOCreturn_or_enter] ; Moom: Reset
                [:tab :!TOCtab] ; Moom: Center
                [:h :!TOCh] ; Moom: Move half screen left
                [:j :!TOCj] ; Moom: Move half screen bottom
                [:k :!TOCk] ; Moom: Move half screen top
                [:l :!TOCl] ; Moom: Move half screen right
                [:u :!TOCu] ; Moom: Move to top left
                [:o :!TOCo] ; Moom: Move to top right
                [:n :!TOCn] ; Moom: Move to bottom left
                [:period :!TOCperiod] ; Moom: Move to bottom right
                [:c :!STC4] ; Screenshot to clipboard
                [:s :!SC4] ; Screenshot to filesystem
            ]
        }
        {
            :des "Z mode"
            :rules [:z-mode
                [:h [:hs "scrollInNotion"]]
                [:j :page_down]
                [:k :page_up]
                [:semicolon :!Cbackslash]
                [:n :!SCn]
            ]
        }
        {
            :des "M mode"
            :rules [:m-mode
                [:s :!SCm] ; Mute in Discord and Teams
                [:d :!SCd] ; Deafen in Discord
            ]
        }
        {
            :des "Google mode"
            :rules [:google-mode
                [:h ["osascript -e 'tell application id \"com.runningwithcrayons.Alfred\" to run trigger \"history\" in workflow \"com.thomasupton.chrome-history\"'"]]
                [:m :!Ow] ; Dismiss downloads bar in Chrome
            ]
        }
        {
            :des "Code mode"
            :rules [:code-mode
                [:period [:hyphen :!Speriod]] ; ->
                [:comma :!Ocomma] ; Atom: Toggle comma at end of line
                [:semicolon :!Osemicolon] ; Atom: Toggle semicolon at end of line
                [:i :!SOi] ; Atom: Cursor History: Previous
                [:o :!To] ; Atom: Cursor History: Next
            ]
        }
        {
            :des "App mode"
            :rules [:app-mode
                [:t [:hs "appModeT"]]
                [:s [:hs "appModeS"]]
                [:a [:hs "appModeA"]]
                [:c [:hs "appModeC"]]
            ]
        }
    ]
}
