    :layers {
        :hyper-mode {:key :caps_lock :alone {:key :escape}}
    }
    :simlayers {
        :tab-mode {:key :tab}
        ; q
        :pane-mode {:key :w}
        ; e
        ; r
        :test-mode {:key :t}

        :yank-mode {:key :y}
        :select-until-mode {:key :u}
        :select-inside-mode {:key :i}
        :open-mode {:key :o}
        :paste-mode {:key :p}
        :destroy-mode {:key :open_bracket}
        ; ]

        :case-mode {:key :a}
        :snippet-mode {:key :s}
        :vi-mode {:key :d}
        :general-mode {:key :f}
        :google-mode {:key :g}

        :command-mode {:key :semicolon}
        :extended-command-mode {:key :quote}
        :jump-to-mode {:key :return_or_enter}

        :dialog-case-mode {:key :z}
        ; x
        :code-mode {:key :c}
        :vi-visual-mode {:key :v}
        ; b

        :change-mode {:key :n}
        :media-mode {:key :m}
        :launch-mode {:key :comma}
        :app-mode {:key :period}
        :search-mode {:key :slash}

        :window-mode {:key :spacebar}
    }
