        {
            :des "Misc"
            :rules [
                [:right_option [:hs "media-showVideoBar"]]
                [:fn {:pkey :button1}] ; Mouse click. Hold for dragging
                [:!TCf :escape] ; Escape
            ]
        }
        {
            :des "Hyper Mode (Key: Caps Lock)"
            :rules [:hyper-mode
                [:y [:hs "hyper-copy"]]
                [:u [:hs "hyper-copyTextArea"]]
                ; i
                [:o [:hs "hyper-open"]]
                [:p :!Cv] ; Paste
                [:open_bracket [:hs "hyper-openAnything"]]
                [:close_bracket [:hs "hyper-commandPalette"]] ; Command palette

                [:h [:hs "hyper-previousPage"]] ; Navigate to previous page
                [:j [:hs "hyper-previousTab"]]
                [:k [:hs "hyper-nextTab"]]
                [:l [:hs "hyper-nextPage"]] ; Navigate to next page
                [:semicolon :mission_control] ; Mac: Show windows
                ; '
                [:return_or_enter :caps_lock]

                [:n :!Oz] ; Alfred
                [:m :!Oc] ; Alfred Clipboard
                [:comma [:hs "hyper-jumpTo"]]
                ; .
                ; /

                ; spacebar
            ]
        }
        {
            :des "Hyper Mode - Mousekey"
            :rules [:hyper-mode
                [:down_arrow {:mkey {:y 1536}}]
                [:up_arrow {:mkey {:y -1536}}]
                [:left_arrow {:mkey {:x -1536}}]
                [:right_arrow {:mkey {:x 1536}}]
                ; [:return_or_enter {:pkey :button1}]
                [:!Creturn_or_enter {:pkey :button2}]
            ]
        }
        {
            :des "Launch Mode (Key: ,)"
            :rules [:launch-mode
                ; tab
                [:q [:launch "Kaleidoscope.app"]]
                [:w [:launch "Transmit.app"]]
                [:e [:hs "launch-app?id=sublime"]]
                [:r [:hs "launch-app?id=atom"]]
                [:t [:hs "launch-app?id=iterm"]]

                ; caps
                [:a :!OCc] ; Fantastical
                [:s [:launch "Spotify.app"]]
                [:d [:launch "Discord.app"]]
                [:f [:launch "Notion.app"]]
                [:g [:hs "launch-app?id=chrome"]]

                [:z [:launch "zoom.us.app"]]
                [:x [:launch "Tinkerwell.app"]]
                [:c [:launch "Sublime\\\ Merge.app"]]
                [:v [:launch "TablePlus.app"]]
                [:b [:hs "launch-app?id=finder"]]

                [:spacebar [:hs "window-bringAllToFront"]]
            ]
        }
        {
            :des "Command Mode (Key: ;)"
            :rules [:command-mode
                [:tab :!Stab] ; Shift Tab
                [:q :!Cq] ; Quit

                ; Close window or close all windows
                [:w [[:hs "misc-closeAllWindows"] ["pending" 0]] ["pending" 1]]
                [:w
                    ["pending" 1]
                    ["pending" 0]
                    {:delayed {:invoked [[:hs "command-closeWindow"] ["pending" 0]] :canceled ["pending" 0]} :params {:delay 150}}
                ]

                ; e

                ; Reload or Chrome hard refresh
                [:r [:!SCr ["pending" 0]] ["pending" 1]]
                [:r
                    ["pending" 1]
                    ["pending" 0]
                    {:delayed {:invoked [[:hs "command-reload"] ["pending" 0]] :canceled ["pending" 0]} :params {:delay 150}}
                ]

                ; t

                [:caps_lock [:alfred "commands" "com.fuelingtheweb.commands"]]
                [:a :!Ca] ; Select All

                ; Save or Save and reload Chrome
                [:s [[:hs "misc-saveAndReload"] ["pending" 0]] ["pending" 1]]
                [:s
                    ["pending" 1]
                    ["pending" 0]
                    {:delayed {:invoked [[:hs "command-save"] ["pending" 0]] :canceled ["pending" 0]} :params {:delay 150}}
                ]

                [:d [:hs "command-done"]]
                [:f [:hs "command-find"]]
                [:g :!SCh] ; Atom: Toggle Git Palette

                [:z [:alfredsearch "sleep"]] ; Alfred: Sleep
                [:x [:hs "command-cancelOrDelete"]] ; Control C
                ; c
                [:v [:escape :y :y :p]] ; Duplicate line
                [:b :!Cd] ; Save Bookmark (Chrome)
            ]
        }
        {
            :des "Window Mode (Key: Spacebar)"
            :rules [:window-mode
                [:tab [:hs "window-moveToCenter"]]
                ; q
                ; w
                ; e
                ; r
                ; t

                ; y
                [:u [:hs "window-move?to=topLeft"]]
                [:i [:hs "window-moveToMiddle"]]
                [:o [:hs "window-move?to=topRight"]]
                [:p [:hs "misc-appSettings"]]
                ; [
                ; ]

                ; caps
                ; a
                ; s
                [:d [:hs "window-moveToNextDisplay"]]
                [:f [:hs "window-move?to=maximize"]]
                [:g [:hs "window-showGrid"]]

                [:h [:hs "window-move?to=leftHalf"]]
                [:j [:hs "window-move?to=bottomHalf"]]
                [:k [:hs "window-move?to=topHalf"]]
                [:l [:hs "window-move?to=rightHalf"]]
                [:semicolon [:hs "window-next"]]
                [:quote [:hs "window-nextInCurrentApp"]]
                [:return_or_enter [:hs "window-reset"]]

                ; z
                ; x
                ; c
                ; v
                [:b [:hs "misc-toggleSidebar"]]

                [:n [:hs "window-move?to=bottomLeft"]]
                [:m [:hs "misc-moveMouseToOtherScreen"]]
                [:comma [:hs "window-move?to=bottomRight"]]
                ; .
                ; /
            ]
        }
        {
            :des "General Mode (Key: F)"
            :rules [:general-mode
                [:y :!S7] ; &
                [:u :!Shyphen] ; _
                [:i :hyphen] ; -
                [:o :keypad_plus] ; +
                [:p :!S5] ; %
                [:open_bracket :!S9] ; (
                [:close_bracket :!S0] ; )

                [:h :!Sgrave_accent_and_tilde] ; ~
                [:j [:hs "misc-focusPrevious"]]
                [:k [:hs "misc-focusNext"]]
                [:l :!!l] ; Lastpass
                ; ;
                [:quote :equal_sign] ; =
                ; return

                ; n
                [:m :!S8] ; Multiply: *
                ; ,
                [:period [:hyphen :!Speriod]] ; ->
                ; /

                [:q :!S3] ; #
                ; w
                [:e :!S1] ; !

                [:a :!S2] ; @
                ; s
                [:d :!S4] ; -> $
            ]
        }
        {
            :des "Media Mode (Key: M)"
            :rules [:media-mode
                [:z [:alfredsearch "Sound"]]
                [:r [:hs "media-updateAudioDevice"]]
                [:s :!SCm] ; Mute in Discord and Teams
                [:d :!SCd] ; Deafen in Discord
                [:a :!Tleft_arrow] ; Funimation: Start of video / previous video
                [:g :!Tright_arrow] ; Funimation: Next video
                [:v [:hs "media-focus"]]
                [:f [:hs "media-fullscreen"]]
                [:comma [:hs "media-back"]]
                [:period [:hs "media-forward"]]
            ]
        }
        {
            :des "Google Mode (Key: G)"
            :rules [:google-mode
                [:h [:alfred "history" "com.thomasupton.chrome-history"]]
                [:return_or_enter :!Ow] ; Chrome: Dismiss downloads bar
                [:m [:alfredsearch "gm: "]] ; Google bookmarks
                [:i [:chrome "https://inbox.google.com"]]
                [:p :!SCm] ; Chrome: Show profiles list
                [:quote [:hs "google-openAndReload"]]
                [:o [:hs "google-toggleIncognito"]]
                [:open_bracket :!TOCg] ; Chrome: Group Tab
                [:period :!SCd] ; Chrome: Toggle dev tools docking
            ]
        }
        {
            :des "Code Mode (Key: C)"
            :rules [:code-mode
                [:d :!OCi] ; Chrome: Toggle Dev Tools

                [:y [:spacebar :!S7 :!S7 :spacebar]] ; &&
                [:u [:hs "code-u"]]
                [:i :!STOup_arrow] ; Multiple cursors up
                [:o [:hs "code-o"]]
                [:p [:hs "code-p"]]
                [:open_bracket :!OCopen_bracket] ; Atom: Fold row
                [:close_bracket :!OCclose_bracket] ; Atom: Unfold row

                [:h [:hs "code-h"]]
                [:j [:hs "code-moveDown"]] ; Move line down / autocomplete on iTerm
                [:k [:hs "code-moveUp"]] ; Move line up
                [:l [:hs "code-l"]]
                [:semicolon :!Osemicolon] ; Atom: Toggle semicolon at end of line
                [:quote [:spacebar :equal_sign :spacebar]] ; =
                [:return_or_enter [:hs "code-return"]]

                [:b [:hs "code-toggleBoolean"]]
                [:n :!Ograve_accent_and_tilde] ; `
                [:m [:hs "code-m"]]
                [:comma :!Ocomma] ; Atom: Toggle comma at end of line
                [:period [:spacebar :equal_sign :!Speriod :spacebar]] ; =>
                [:slash :!Tm] ; Atom: Go to matching bracket

                [:spacebar :!Cslash] ; Comment
            ]
        }
        {
            :des "App Mode (Key: .)"
            :rules [:app-mode
                [:t [:hs "shortcut-trigger?key=T"]]
                [:r [:hs "shortcut-trigger?key=R"]]
                [:e [:hs "shortcut-trigger?key=E"]]
                [:w [:hs "shortcut-trigger?key=W"]]
                [:q [:hs "shortcut-trigger?key=Q"]]
                [:g [:hs "shortcut-trigger?key=G"]]
                [:f [:hs "shortcut-trigger?key=F"]]
                [:d [:hs "shortcut-trigger?key=D"]]
                [:s [:hs "shortcut-trigger?key=S"]]
                [:a [:hs "shortcut-trigger?key=A"]]
                [:b [:hs "shortcut-trigger?key=B"]]
                ; v
                [:c [:hs "shortcut-trigger?key=C"]]
                [:x [:hs "shortcut-trigger?key=X"]]
                [:z [:hs "shortcut-trigger?key=Z"]]
                [:h [:hs "shortcut-trigger?key=H"]]
                [:m [:hs "shortcut-trigger?key=M"]]
                [:0 :!OC0] ; Notion: Create text
                [:1 :!OC1] ; Notion: Create H1 heading
                [:2 :!OC2] ; Notion: Create H2 heading
                [:3 :!OC3] ; Notion: Create H3 heading
                [:4 [:hs "shortcut-trigger?key=4"]]
                [:5 :!OC5] ; Notion: Create bulleted list
                [:6 :!OC6] ; Notion: Create numbered list
                [:7 :!OC7] ; Notion: Create toggle list
                [:8 :!OC8] ; Notion: Create code block
            ]
        }
        {
            :des "Search Mode (Key: /)"
            :rules [:search-mode
                [:w [:hs "window-searchInCurrentApp"]]
                [:t [:hs "searchTabs"]]

                [:a [:hs "window-searchAll"]]
                [:s :!Cr] ; Search for symbol
                [:f [:alfredsearch "open "]] ; Search files
                [:g [:alfred "google" "com.akikoz.alfred.websearchsuggest"]]

                [:z [:alfred "amazon" "com.akikoz.alfred.websearchsuggest"]]
                [:c [:slash :!Scomma :!Scomma :!Scomma :!Scomma :!Scomma :return_or_enter]] ; Search for conflicts
            ]
        }
        {
            :des "Open Mode (Key: O)"
            :rules [:open-mode
                [:k [:sublime "~/.fuelingzsh/karabiner/goku/main.edn"]]
                [:h [:sublime "~/.hammerspoon"]]
                [:a [:sublime "~/.fuelingzsh/aliases"]]
                [:z [:sublime "~/.fuelingzsh"]]
                [:r [:hs "open-inAtom"]]
                [:d "open ~/Downloads"]
                [:g [:hs "open-inChrome"]]
                [:v [:hs "open-inTablePlus"]]
                [:c [:hs "open-inSublimeMerge"]]
                [:b [:hs "open-inFinder"]]
                [:f [:hs "custom-open?key=F"]]
                [:r [:hs "custom-open?key=R"]]
                [:s [:sublime "~/.fuelingzsh/custom/espanso/default.yml"]]
                [:m [:hs "custom-open?key=M"]]
                [:e [:hs "custom-open?key=E"]]
                [:x [:hs "open-inTinkerwell"]]
                [:t [:hs "custom-open?key=T"]]
                [:y [:hs "custom-open?key=Y"]]
                [:q [:hs "custom-open?key=Q"]]
            ]
        }
        {
            :des "Snippet Mode (Key: S)"
            :rules [:snippet-mode
                [:e [:hs "snippet?name=elseif"]]
                ; r
                [:t [:hs "snippet?name=this"]]
                [:d [:hs "snippet?name=dd"]]
                ; f, g, v
                ; y, u
                [:i [:hs "snippet?name=if"]]
                ; o
                [:p [:hs "snippet?name=property"]]
                [:open_bracket [:hs "snippet?name=echo"]]
                ; ]
                ; h, j, k
                [:l [:hs "snippet?name=log"]]
                ; ;, ', return
                [:n [:hs "snippet?name=af"]]
                [:m [:hs "snippet-method"]]
                ; ,, ., /
            ]
        }
        {
            :des "Test Mode (Key: T)" ; To mode?
            :rules [:test-mode
                [:l :!TOCt] ; Atom PHPUnit: Test All
                [:k :!OCt] ; Atom PHPUnit: Test Class
                [:m :!TOt] ; Atom PHPUnit: Test Method
            ]
        }
        {
            :des "Tab Mode (Key: tab)"
            :rules [:tab-mode
                [:i [:!C1]] ; Go to first tab
                [:o [:!C9]] ; Go to last tab
                [:close_bracket [:hs "tab-moveToNewWindow"]]

                [:h [:hs "moveTabLeft"]]
                [:l [:hs "moveTabRight"]]

                [:n [:hs "command-newTab"]]
            ]
        }
        {
            :des "Extended Command Mode (Key: ')"
            :rules [:extended-command-mode
                ; q
                [:w [:hs "misc-surround"]]
                ; e
                [:r :!SCz] ; Redo
                ; t

                [:caps_lock [:hs "command-dismissNotifications"]] ; Dismiss notifications
                [:a :!OCbackslash] ; Alfred: Action File
                [:s :!SC4] ; Screenshot to filesystem
                [:d :!OCd] ; Toggle dock visibility
                [:f [:!SCbackslash]] ; Atom: Reveal active file in tree view
                ; g

                [:z :!Cz] ; Undo
                ; x
                [:c :!STC4] ; Screenshot to clipboard
                [:v :!TOCs] ; Vimac: Enable Scroll
                [:b :!STCb] ; Bartender: Show

                [:n :!SCn] ; New window / folder
            ]
        }
